.aluno-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

p-table {
  width: 100%;
}

button {
  margin-right: 5px;
}